/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #ccffee;
  font-family: Didot, “Didot LT STD”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
}

.header {
  background-color: #00cc99;
  width: 950px;
}

.header h1 {
  color: #ffffff;
  padding: 10px 70px 70px 20px;
  font-size: 35px;
  background-color: #e6005c;
  background-position: center;
  width: 250px;
  height: 60px;
  position: relative;
  

}

.header h2 {
  color: #ffffff;
  padding: 5%;
  font-size: 70px;
  width: 600px;
  
}

.header h2 #author {
  color: #ffffff;
  font-size: 50px;
}

.side-bar {
  float: right;
  background-color: #80ccff;
  width: 300px;
  height: 400px;
  text-align: center;
}

.math-info {
  width: 600px;
  margin: 20px auto;
  padding: 50px;
  border-width: 10px;
  background-color: #ffffff;
}

.how-to-info {
  color: #ffffff;
  background-color: #3385ff;
  margin: 10px auto;
  padding: 40px;
  width: 450px;
  height: 400px;


}

.math-videos {
  background-color: #ffffff;
  width: 750px;
  padding: 20px;

}

.math-exercises {
  background-color: #ffffff;
  width: 750px;
  padding: 30px;
}

h2 {

}


