/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #cccccc;
  font-family: Didot, “Didot LT STD”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
}

.header {
  background-color: #74AFAD;
  width: 850px;
  height: 500px;
  margin: 10px 15px 10px 30px;
}

.header h1 {
  margin: 20px 20px;
  left: 10;
  color: #ffffff;
  padding: 10px 15px 10px 10px;
  font-size: 35px;
  background-color: #963644;
  background-position: center;
  width: 250px;
  height: 60px;
  position: absolute;
}

.header h2 {
  color: #ffffff;
  padding: 15%;
  font-size: 70px;
  width: 900px;
}

.side-bar h2 {
  padding: 10%;
  font-size: 25px;
}

.side-bar {
  top: 60px;
  bottom: 0px;
  position: absolute;
  right: 40px;
  color: #ffffff;
  background-color: #558C89;
  width: 300px;
  height: 500px;
  text-align: left;
}

a:link {
  text-decoration: none;
  color: #ffffff;
  padding: 10%;
  font-size: 18px;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  text-decoration: none;
  color: #ffffff;
}

.curric-info {
  width: 900px;
  margin: 30px auto 30px auto;
  padding: 50px;
  border-width: 10px;
  background-color: #ffffff;
  font-size: 20px;
  bottom: 900px;
}

.math-info {
  overflow: auto;
}

.math-content {
  background-color: #ffffff;
  width: 900px;
  padding: 30px;
  margin: 0px auto 10px auto;
}

.math-content h2 {
  font-size: 35px;
  border-bottom-color: #000000;
  border-bottom-style: solid;
  border-bottom-width: 3px;
}

.math-exercises a {
  color: #000000;
  text-align: left;
}

.books {
  overflow-x: scroll;
  background-color: #558C89;
  width: 1100px;
  height: 300px;
  margin: 10px auto 50px auto;
}

.books h2 {
  text-align: center;
  color: #ffffff;
  font-size: 25px;
}

.books h4 {
  text-align: center;
  color: #ffffff;
}

#books-list {
  display: inline;
  margin: 20px auto;
}

#books-list a {
  display: table-cell;
  text-align: center;
}

#books-list img {
  width: 100%;
  max-width: 150px;
}

/*Contact me link styling*/
.contact-info {
  width: 900px;
  background-color: #74AFAD;
  color: #ffffff;
  margin: auto auto;
  left: 10;
  padding: 10%;
  font-size: 25px;
  background-position: center;
  width: 900px;
}