
.nav {
    text-align: center;
    text-size: 45px;
}

.header { 
    color: #ff4a4a; 
    font-family: "Great Vibes", cursive; 
    font-size: 150px; 
    line-height: 145px; 
    font-weight: normal; 
    margin-bottom: 0px; 
    margin-top: 40px; 
    text-align: center; 
    text-shadow: 0 1px 1px #fff; 
    border-bottom: 2px;
}

.main-content {
	border-style: solid;
	border-color: black;
	padding: 10px 25px 25px 25px;
	width: 900px;
	margin: 20px auto 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.daily-lesson {
	border-bottom: 2px solid rgb(221,160,221);
	padding-bottom: 3px;
}


